.example-full-width{
  width: 100%;
}

.semesters {
  position: relative;
  z-index: 2;
}

.chip-container {
  * {
    display: inline-block;
  }

  .tag {
    border-radius: 30px;
    background: darkred;
    color: white;
    padding: 7px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
}


#courseCatalog {
  min-height: 800px;
}

.course-checkbox {
  margin-bottom: 15px;
}

h2 {
  text-align: center;
  font-weight: 300;
  font-size: 24px;
}
