mat-card {
  width: 100%;
}

.course {
  background: lightgray;
  border-radius: 0px;
  margin-bottom: 7px;
  height: 50px;
  position: relative;

  .course-progress-indicator {
    position: absolute;
    height: 50px;
    width: 100%;
    background: #77dd77;
    opacity: 0.50;
    z-index: 1;
  }

  .course-progress-text, .content-blocks {
    z-index: 2;
    position: absolute;
    padding-top: 14px;
    padding-left: 15px;
  }

  .content-blocks {
    right: 0;
    padding-right: 15px;
  }
}

b {
  color: gray;
}

.top3{
  h2 {
    font-weight: 300;
    text-align: center;
    outline: none;
  }

  .deg-box {
    transition: 200ms;
    outline: none;
    cursor: default;

    &:hover {
      transform: translateY(-3px);
    }

  }
}

.greenbold {
  color: green;
  font-weight: 400 !important;
}
