  <div [ngClass]="{'course-progress': true, 'course-done': courseDone(), 'courseinvalid': !courseValid()}" cdkDrag>

    <div style="padding: 8px 6px;">
      <div class="course-name">{{course.name}}</div>
      <div class="course-subtitle">{{course.ects}} ECTS, {{course.professor}}</div>
    </div>

    <mat-icon *ngIf="courseDone()"
    matTooltipClass="tooltip-green" [matTooltip]="finishedMessage()"
    matTooltipShowDelay="500"
    class="checked-icon" >check</mat-icon>

    <mat-icon *ngIf="!courseValid()" [matTooltip]="invalidMessage()"
    matTooltipShowDelay="500"
    matTooltipClass="tooltip-red"
    class="info-icon">info</mat-icon>

    <mat-progress-bar mode="determinate" [value]="getDoneContentBlocksPercentage()"></mat-progress-bar>

  </div>
