<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="home" [routerLink]="['/bob']">ELKA Study Builder</div>
    <span class="example-spacer"></span>
    <button mat-flat-button color="primary" [matMenuTriggerFor]="menu">
      <div class="user-info">
        <div>{{user.email}}</div>
        <div>{{user.firstName}} {{user.lastName}}</div>
      </div>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item>Profil</button>
  <button mat-menu-item (click)="downloadJson()">Export</button>
  <button mat-menu-item [routerLink]="['/chooser']">App Wechseln</button>
  <button style="color: red" *ngIf="isAdmin()" mat-menu-item [routerLink]="['admin']">Admin Lobby</button>
  <button mat-menu-item (click)="signOut('auth')">Abmelden</button>
</mat-menu>

<div class="bob-content">
  <router-outlet></router-outlet>
</div>
