*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
html{
  background-color:#eee;
}
.container{
  margin: 20px auto;
  width: 800px;
  height: 500px;
  background-color:#fff;
  display:grid;
  grid-template-columns: 400px 400px;
  grid-row: auto auto;
  grid-column-gap: 30px;
  grid-row-gap: 30px;

  .box{
    transition: 0.25s;
    &:hover {
      cursor: pointer;
      transform: translateY(-10px);
      -webkit-box-shadow: 7px 50px 40px -8px rgba(0,0,0,0.44);
      -moz-box-shadow: 7px 50px 40px -8px rgba(0,0,0,0.44);
      box-shadow: 7px 50px 40px -8px rgba(0,0,0,0.44);
    }

    &::after {
      content: "";
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-repeat: no-repeat;
      background-size: 200px;
      background-position: bottom right;position: absolute;
      opacity: 0.15;
    }

    h2 {
      margin-bottom: 0;
    }
    padding:20px;
    border-radius:10px;
    color:#fff;
    position: relative;
    -webkit-box-shadow: 7px 23px 34px -8px rgba(0,0,0,0.73);
    -moz-box-shadow: 7px 23px 34px -8px rgba(0,0,0,0.73);
    box-shadow: 7px 23px 34px -8px rgba(0,0,0,0.73);
  }

  .onetodo {
    background: #52B668;
    &::after {
      background-image: url("src/assets/images/onetodo.png");
    }
  }
  .bob {
    background: #BC5757;
    &::after {
      background-image: url("src/assets/images/study-builder.png");
    }
  }
  .atlantis {
    background: #5761BC;
    &::after {
      background-image: url("src/assets/images/atlantis.png");
    }
  }
  .xams {
    background: #333;
    &::after {
      background-image: url("src/assets/images/xams.png");
    }
  }
}


.header {
  padding-top: 20px;
}

.greeting, .email {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;

  h2 {
    font-weight: 400;
  }
}
