/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: #F8F8F8}

* {
  font-weight: 400;
}

b {
  font-weight: 500;
}

h1,h2,h3,h4,h5,h6,p {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mat-card-title {
  color: darkred;
  font-weight: 200 !important;
  margin-top: 10px !important;
  margin-bottom: 14px !important;
}
